In [1]:
import pandas as pd
import re
import os

In [2]:
base_directory = "C:/Users/limst/Documents/github/job-posting-analysis"

In [3]:
directory = os.chdir(f"{base_directory}/data/cleaned/")
files = os.listdir(".")
files

['combined_data.csv',
 'combined_data.json',
 'filtered_data.json',
 'filtered_job_roles.csv',
 'individual_platforms',
 'jobtitle_skills_edges.csv',
 'jobtitle_skills_nodes.csv',
 'Posts_Industry.csv',
 'skills.csv',
 'unfiltered_df.csv']

In [4]:
df = pd.read_json("filtered_data.json")
df

,job_title,company_name,job_type,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,all_tech_stack,education_level,education_field,cleaned_job_desc,aws,google_cloud,azure,cluster
0,Senior Python Developer,citi,permanent,Banking/Accounting/Financial Services,2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"[RabbitMQ, Tableau Dashboards, Bitbucket, SOAP...",[],[],job description job purpose we are look...,1,1,0,Software Developer
1,Senior Partner Solutions Architect (Microsoft),amazon,permanent,Internet/E-commerce,2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"[Queue, Containers, Azure, RFPs, Microsoft ELA...",[Master's],[],job description job summary description d...,1,1,1,Solutions Architect
7,Cloud Engineer (Automation),recruit expert pte. ltd.,permanent,Employment agency,2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,48000.0,66000.0,2,5,"[Cloud, OpenStack, Ansible, Cloud robotics, Op...","[Master's, Bachelor's]","[Relevant Field, Information Technology, Compu...",in charge of the design deployment installat...,0,0,0,Cloud Engineer
8,Cloud Engineer (Automation),recruit expert pte. ltd.,permanent,Employment agency,2022-03-14,https://www.monster.com.sg/seeker/job-details?...,monster,48000.0,60000.0,2,5,"[Cloud, OpenStack, Ansible, Cloud robotics, Op...","[Master's, Bachelor's]","[Relevant Field, Information Technology, Compu...",in charge of the design deployment installat...,0,0,0,Cloud Engineer
9,Senior Software and Automation Architect,cisco international limited singapore branch,permanent,Employment agency,2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,108000.0,180000.0,10,15,"[Information Security, Modeling, Bitbucket, Ba...",[],[],what you ll do cisco customer experience cx ...,1,0,0,Solutions Architect
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11442,Enterprise Solutions Engineer (Singapore),confluent,permanent,IT,2022-01-11,https://www.nodeflair.com//jobs/46158,nodeflair,NaN,NaN,,,"[Cloud, essageQueue, disk, beliefs, Inc, Apach...",[Bachelor's],[Computer Science],we re looking for self motivated team members ...,0,0,0,Solutions Architect
11443,DevOps Engineer,2c2p,permanent,IT,2022-01-11,https://www.nodeflair.com//jobs/46156,nodeflair,7000.0,10000.0,NaN,3,"[IaC, TCP, .NET, Ansible Strong, Node.js, UDP,...",[],[],is looking for a net devops engineer to join...,1,0,0,Devops Engineer
11444,DevOps Engineer,finxflo,permanent,Bank,2022-01-11,https://www.nodeflair.com//jobs/46153,nodeflair,NaN,NaN,NaN,NaN,"[IaC, SysOps, Terraform Team, BS, Terraform, A...","[Master's, Bachelor's]","[Relevant Field, Computer Science]",alpha stone capital is looking for an amazing ...,1,0,0,Devops Engineer
11445,DevOps Engineer,quilt.ai,permanent,None,2022-01-11,https://www.nodeflair.com//jobs/46151,nodeflair,NaN,NaN,NaN,3,"[IaC, React, Container, Docker, Ansible, Prefe...",[Bachelor's],"[Relevant Field, Computer Science, Computer/So...",as part of a growing team consisting of ml exp...,1,1,0,Devops Engineer
11446,Software Engineer,zoku integrated commerce,permanent,None,2022-01-11,https://www.nodeflair.com//jobs/46149,nodeflair,NaN,NaN,NaN,3,"[DOM, Node.js, React, TypeScript, API, ERP, ba...",[Bachelor's],"[Relevant Field, Computer Science]",we are hiring software engineers with expertis...,0,0,0,Software Engineer

In [ ]:
combis = pd.DataFrame(columns = ['job_title', 'tech_stack'])

for i, row in df.iterrows():
    jobtitle = row['job_title']
    for tech in row['all_tech_stack']: 
        new_row = pd.DataFrame({'job_title':[jobtitle],'tech_stack':[tech]})
        combis = combis.append(new_row)
        
combis

In [14]:
all_service_provider = combis.to_csv("all_service_provider.csv")

## Azure

In [ ]:
azure_df = pd.DataFrame(columns = ['job_title', 'tech_stack','azure'])

for i, row in df.iterrows():
    jobtitle = row['job_title']
    azure = row['azure']
    for tech in row['all_tech_stack']: 
        new_row = pd.DataFrame({'job_title':[jobtitle],'tech_stack':[tech],'azure':azure})
        azure_df = azure_df.append(new_row)
        
azure_df

In [ ]:
azure = azure_df.to_csv("azure.csv")

## Google Cloud

In [ ]:
google_df = pd.DataFrame(columns = ['job_title', 'tech_stack','google_cloud'])

for i, row in df.iterrows():
    jobtitle = row['job_title']
    google = row['google_cloud']
    for tech in row['all_tech_stack']: 
        new_row = pd.DataFrame({'job_title':[jobtitle],'tech_stack':[tech],'google_cloud':google})
        google_df = google_df.append(new_row)
        
google_df

In [ ]:
google = google_df.to_csv("google.csv")

## AWS

In [ ]:
aws_df = pd.DataFrame(columns = ['job_title', 'tech_stack','aws'])

for i, row in df.iterrows():
    jobtitle = row['job_title']
    aws = row['aws']
    for tech in row['all_tech_stack']: 
        new_row = pd.DataFrame({'job_title':[jobtitle],'tech_stack':[tech],'aws':aws})
        aws_df = aws_df.append(new_row)
        
aws_df

In [ ]:
aws = aws_df.to_csv("aws.csv")

## Skills-skills

In [ ]:
skills = pd.DataFrame(columns = ['tech_1', 'tech_2'])

for i, row in df_filtered.iterrows():
    for tech in row['all_tech_stack_split']:
        array_length = len(row['all_tech_stack_split'])
        new_row = pd.DataFrame({'tech_1':[tech]*array_length,'tech_2':row['all_tech_stack_split']})
        skills = skills.append(new_row)

In [ ]:
skills.to_csv("skills-skills.csv")